@page
@model WebApplication_StandardInventDays.Pages.DeleteSIDModel

@{
    ViewData["Title"] = "Delete";
}



<div class="container-fluid p-0">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    
                    <div class="DelPage">
                        <h3>Are you sure you want to delete this?</h3>
                        <div>
                            <hr />
                            <dl class="row">
                                <dt class="col-md-6">Fac </dt>
                                <dd class="col-md-6">
                                    : @Html.DisplayFor(model => model.Sid.Fac)
                                </dd>
                                <dt class="col-md-6">
                                    Item No 
                                </dt>
                                <dd class="col-md-6">
                                    : @Html.DisplayFor(model => model.Sid.ItemNo)
                                </dd>
                                <dt class="col-md-6">
                                    Item Description
                                </dt>
                                <dd class="col-md-6">
                                    : @Html.DisplayFor(model => model.Sid.ItemDesc)
                                </dd>
                                <dt class="col-md-6">
                                    UoM
                                </dt>
                                <dd class="col-md-6">
                                    : @Html.DisplayFor(model => model.Sid.UoM)
                                </dd>
                                <dt class="col-md-6">
                                    Vendor Type
                                </dt>
                                <dd class="col-md-6">
                                    : @Html.DisplayFor(model => model.Sid.VendorType)
                                </dd>
                                <dt class="col-md-6">
                                    Prod Lead Time
                                </dt>
                                <dd class="col-md-6">
                                    : @Html.DisplayFor(model => model.Sid.ProdLt)
                                </dd>
                                <dt class="col-md-6">
                                    Monthly Consume
                                </dt>
                                <dd class="col-md-6">
                                    : @Html.DisplayFor(model => model.Sid.MonthlyConsume)
                                </dd>
                            
                                <dt class="col-md-6">
                                    Capacity Different
                                </dt>
                                <dd class="col-md-6">
                                    : @Html.DisplayFor(model => model.Sid.CapacityDifferent)
                                </dd>
                                <dt class="col-md-6">
                                    Delivery Cycle
                                </dt>
                                <dd class="col-md-6">
                                    : @Html.DisplayFor(model => model.Sid.DeliveryCycle)
                                </dd>
                                <dt class="col-md-6">
                                    Consume
                                </dt>
                                <dd class="col-md-6">
                                    : @Html.DisplayFor(model => model.Sid.Consumption)
                                </dd>
                                <dt class="col-md-6">
                                    Reject
                                </dt>
                                <dd class="col-md-6">
                                    : @Html.DisplayFor(model => model.Sid.Reject)
                                </dd>
                                <dt class="col-md-6">
                                    MoQ
                                </dt>
                                <dd class="col-md-6">
                                    : @Html.DisplayFor(model => model.Sid.MoQ)
                                </dd>
                                <dt class="col-md-6">
                                    Std Inventory Days
                                </dt>
                                <dd class="col-md-6">
                                    : @Html.DisplayFor(model => model.Sid.Hasil)
                                </dd>
                            
                            </dl>

                            <form method="post">
                                <input type="hidden" asp-for="Sid.IdSid" />
                                <input type="submit" value="Delete" class="btn btn-danger" /> |
                                <a asp-page="./View" class="btn btn-primary">Back to List</a>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





