@page
@model WebApplication_StandardInventDays.Pages.DownloadToExcelModel
@{
    int No = 1;
}


<div class="container-fluid p-0">
    <div class="d-flex justify-content-between ">
        <div class="header-tittle" style="margin-bottom: 30px;">
            <h2>Download To Excel</h2>
            <p>Welcome User</p>
        </div>
        <div class="text-size-buttons">
            <button id="increase-text-size"><i class="fas fa-search-plus"></i></button>
            <button id="decrease-text-size"><i class="fas fa-search-minus"></i></button>
        </div>
    </div>


    <div class="flex-fill w-100 h-100 mb-10">
        <div class="ViewTable">
            <table class="ViewExcel" border="0">
                <thead>
                    <tr>
                        <th class="no-column">No</th>
                        <th class="fac-column">Fac</th>
                        <th class="itemno-column">Item No</th>
                        <th class="itemdesc-column">Item Description</th>
                        <th>UoM</th>
                        <th>Vendor Type</th>
                        <th>Prod Lead Time</th>
                        <th>Monthly Consume</th>
                        <th>Capacity Different</th>
                        <th>Delivery Cycle</th>
                        <th class="consume-column">Consume</th>
                        <th>Reject</th>
                        <th>MoQ</th>
                        <th>Std Inventory Days</th>
                       
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Sid)
                    {
                        <tr>
                            <td>
                                @No
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fac)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ItemNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ItemDesc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UoM)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.VendorType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProdLt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MonthlyConsume)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CapacityDifferent)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeliveryCycle)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Consumption)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Reject)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MoQ)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Hasil)
                            </td>                         
                        </tr>

                        No++;
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div id="overlay"></div>

    <div class="download-float-button">
        <button id="open-popup">Download <i class="fas fa-download"></i></button>
        <div id="popup" class="popup">
            <div class="popup-content">
                <div class="popup-header">
                    <h3>Select File Format</h3>
                    <a id="close-popup" class="btn close-popup">&times;</a>
                </div>
                <div class="popup-body">
                    <select id="file-format">
                        <option value=".xls">.xls</option>
                        <option value=".xlsx">.xlsx</option>
                        <option value=".csv">.csv</option>
                    </select>
                    <button id="download-button">Download File Excel</button>
                </div>
            </div>
        </div>
    </div>

    
    <script src="~/js/DownloadToExcel.js" asp-append-version="true"></script>

</div>









